force-app/main/default/flows/AC_Asset_Migrate_Shop_Name_Account_1_Time_Run.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Shop_Name_Account_Value</name>
        <label>Assign Shop Name Account Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Shop_Name_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Dealer_Data.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validate_Record</name>
        <label>Validate Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Dealer_Data</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Shop_Name_Account_Value</targetReference>
            </connector>
            <label>Account Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[AC] Asset Migrate Shop Name Account (1 Time Run) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[AC] Asset Migrate Shop Name Account (1 Time Run)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Dealer_Data</name>
        <label>Get Account Dealer Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dealer_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Shop_Name__r.Dealer_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dealer_Plant_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Shop_Name__r.Plant_code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_Dealer_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shop_Name_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Shop_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2025-08-20</startDate>
            <startTime>19:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
