force-app/main/default/flows/AC_Asset_Populate_Product_and_Account_Dealer_on_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Account_Dealer</name>
        <label>Assign Account Dealer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.After_sales_service_dealer_account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Dealer.New_Account_Dealer_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Province_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Id</name>
        <label>Assign Product Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Dealer_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Province</name>
        <label>Update Province</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Province.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Validate_Account_Dealer_Record</name>
        <label>Validate Account Dealer Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Validate_Province_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Dealer_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Dealer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Dealer</targetReference>
            </connector>
            <label>Account Dealer Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Dealer_Id</name>
        <label>Validate Dealer Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Validate_Province_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dealer_Id_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dealer_Old_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Dealer</targetReference>
            </connector>
            <label>Dealer Id Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Product_Code</name>
        <label>Validate Product Code</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Validate_Dealer_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Code_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product2</targetReference>
            </connector>
            <label>Product Code Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Product_Record</name>
        <label>Validate Product Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Validate_Dealer_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Id</targetReference>
            </connector>
            <label>Product Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Province_Name</name>
        <label>Validate Province Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Province_Name_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Store_province__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Province</targetReference>
            </connector>
            <label>Province Name Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Province_Record</name>
        <label>Validate Province Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Province_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Province</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Province</targetReference>
            </connector>
            <label>Province Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[AC] Asset Populate Product and Account Dealer on Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[AC] Asset Populate Product and Account Dealer on Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Dealer</name>
        <label>Get Account Dealer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Account_Dealer_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Province</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Old_Dealer_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Dealer_Old_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Temporary_Old_Dealer_New_Account_Dealer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product2</name>
        <label>Get Product2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Product_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account_Dealer</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Province</name>
        <label>Get Province</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Province_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Store_province__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Province__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Product_Code</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Product_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Dealer_Old_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
