force-app/main/default/flows/AC_Daily_Sales_Service_Schedule_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>[AC] Daily Sales (Service): Schedule Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[AC] Daily Sales (Service): Schedule Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_an_Error_Log</name>
        <label>Create an Error Log</label>
        <locationX>572</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>API_Name__c</field>
            <value>
                <stringValue>Schedule Delete Daily Sales</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_This_Daily_Sales</name>
        <label>Delete This Daily Sales</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <faultConnector>
            <targetReference>Create_an_Error_Log</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Daily_Sales_Service__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Schedule_Delete_Next_7_Days</name>
            <connector>
                <targetReference>Delete_This_Daily_Sales</targetReference>
            </connector>
            <label>Schedule Delete Next 7 Days</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
