force-app/main/default/flows/AC_Kubota_App_User_Auto_Fill_ID_adress.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>if_Village_is_not_null</name>
        <label>if Village is not null</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Auto_fill_address_No_Village</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Village_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Address_Master__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_fill_address</targetReference>
            </connector>
            <label>Village is not null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[AC] Kubota App User: Auto Fill ID adress {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[AC] Kubota App User: Auto Fill ID adress</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Auto_fill_address</name>
        <label>Auto fill address</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>$Record.Address_Master__r.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>$Record.Address_Master__r.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode_ID__c</field>
            <value>
                <elementReference>$Record.Address_Master__r.Postcode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province__c</field>
            <value>
                <elementReference>$Record.Address_Master__r.Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_District__c</field>
            <value>
                <elementReference>$Record.Address_Master__r.Sub_District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Village__c</field>
            <value>
                <elementReference>$Record.Address_Master__r.Village__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Auto_fill_address_No_Village</name>
        <label>Auto fill address (No Village)</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Address_Master__r.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>$Record.Address_Master__r.District__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode_ID__c</field>
            <value>
                <elementReference>$Record.Address_Master__r.Postcode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province__c</field>
            <value>
                <elementReference>$Record.Address_Master__r.Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_District__c</field>
            <value>
                <elementReference>$Record.Address_Master__r.Sub_District__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>if_Village_is_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address_Master__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
