force-app/main/default/flows/AC_KubotaAppUser_Mapping_Account_when_create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>CheckCitizenIdFound</name>
        <label>CheckCitizenIdFound</label>
        <locationX>281</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>getAccountByPhone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfCitizenIDIsMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountByCitizenId.Citizen_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Citizen_Id__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccountByCitizenId.Citizen_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_account_related1</targetReference>
            </connector>
            <label>IfCitizenIDIsMatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkPhoneFound</name>
        <label>checkPhoneFound</label>
        <locationX>512</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>getAccountByMobilePhone1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountByPhone.Mobile_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccountByPhone.Mobile_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Mobile_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_account_related2</targetReference>
            </connector>
            <label>IfPhoneIsMatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>MobilePhone1_Found</name>
        <label>MobilePhone1 Found</label>
        <locationX>710</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfMobilePhone1IsMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountByPhone.Mobile_phone_no_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccountByPhone.Mobile_phone_no_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Mobile_Phone_1__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_account_related3</targetReference>
            </connector>
            <label>IfMobilePhone1IsMatch</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AC] KubotaAppUser: Mapping Account when create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[AC] KubotaAppUser: Mapping Account when create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccountByCitizenId</name>
        <label>getAccountByCitizenId</label>
        <locationX>281</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckCitizenIdFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Citizen_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Citizen_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Citizen_Id__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LANDTX__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>TH</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccountByMobilePhone1</name>
        <label>getAccountByMobilePhone1</label>
        <locationX>710</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MobilePhone1_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mobile_phone_no_1__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Mobile_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </filters>
        <filters>
            <field>LANDTX__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>TH</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccountByPhone</name>
        <label>getAccountByPhone</label>
        <locationX>512</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkPhoneFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mobile_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Mobile_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Mobile_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LANDTX__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>TH</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_account_related1</name>
        <label>update account related1</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>getAccountByCitizenId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_account_related2</name>
        <label>update account related2</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>getAccountByPhone.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_account_related3</name>
        <label>Update account related3</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>getAccountByMobilePhone1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccountByCitizenId</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Citizen_Id__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Mobile_phone_no_1__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kubota App User</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
