force-app/main/default/flows/AC_Lead_Update_Interested_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Copy_1_of_Validate_Existing_Lead_Line_Item_No_1</name>
        <label>Validate Existing Lead Line Item No.1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Validate_Interest_Product_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Found_a_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Existing_Lead_Line_Item_No_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Line_Item_No_1</targetReference>
            </connector>
            <label>Found a Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Validate_Existing_Lead_Line_Item_No_2</name>
        <label>Validate Existing Lead Line Item No.2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Found_a_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Existing_Lead_Line_Item_No_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Lead_Line_Item_No_2</targetReference>
            </connector>
            <label>Found a Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Existing_Lead_Line_Item_No_1</name>
        <label>Validate Existing Lead Line Item No.1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Lead_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_a_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Lead_Line_Item_No_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Interested_Product_Information</targetReference>
            </connector>
            <label>Found a Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Existing_Lead_Line_Item_No_2</name>
        <label>Validate Existing Lead Line Item No.2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_Lead_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Found_a_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Lead_Line_Item_No_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Interested_Product_Information</targetReference>
            </connector>
            <label>Found a Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Interest_Product_1</name>
        <label>Validate Interest Product 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Existing_Lead_Line_Item_No_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Removed or Nothing</defaultConnectorLabel>
        <rules>
            <name>Value_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Interest_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Lead_Line_Item_No_1</targetReference>
            </connector>
            <label>Value Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Interest_Product_2</name>
        <label>Validate Interest Product 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Existing_Lead_Line_Item_No_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Removed or Nothing</defaultConnectorLabel>
        <rules>
            <name>Value_Exists_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Interest_Product2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Lead_Line_Item_No_2</targetReference>
            </connector>
            <label>Value Exists</label>
        </rules>
    </decisions>
    <interviewLabel>[AC] Lead Update Interested Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[AC] Lead Update Interested Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Lead_Line_Item</name>
        <label>Create Lead Line Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Interested_Product_No__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId__NotFound</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Interest_Product2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId__NotFound</field>
            <value>
                <elementReference>Get_Dummy_Interested_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>$Record.Interest_Product2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>LeadLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_Line_Item</name>
        <label>Create Lead Line Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Interest_Product_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Interested_Product_No__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId__NotFound</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Interest_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId__NotFound</field>
            <value>
                <elementReference>Get_Dummy_Interested_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>$Record.Interest_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>LeadLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Lead_Line_Item_No_2</name>
        <label>Delete Existing Lead Line Item No. 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Copy_1_of_Get_Existing_Lead_Line_Item_No_2</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Existing_Line_Item_No_1</name>
        <label>Delete Existing Line Item No. 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Interest_Product_2</targetReference>
        </connector>
        <inputReference>Copy_1_of_Get_Existing_Lead_Line_Item_No_1</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Copy_1_of_Get_Existing_Lead_Line_Item_No_1</name>
        <label>Get Existing Lead Line Item No. 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Validate_Existing_Lead_Line_Item_No_1</targetReference>
        </connector>
        <filters>
            <field>LeadId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Interested_Product_No__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LeadLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Existing_Lead_Line_Item_No_2</name>
        <label>Get Existing Lead Line Item No. 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Validate_Existing_Lead_Line_Item_No_2</targetReference>
        </connector>
        <filters>
            <field>LeadId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Interested_Product_No__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LeadLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Dummy_Interested_Product</name>
        <label>Get Dummy Interested Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Interest_Product_1</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dummy Interested Product</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Lead_Line_Item_No_1</name>
        <label>Get Existing Lead Line Item No. 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Existing_Lead_Line_Item_No_1</targetReference>
        </connector>
        <filters>
            <field>LeadId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Interested_Product_No__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LeadLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Lead_Line_Item_No_2</name>
        <label>Get Existing Lead Line Item No. 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Existing_Lead_Line_Item_No_2</targetReference>
        </connector>
        <filters>
            <field>LeadId__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Interested_Product_No__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LeadLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_2_of_Update_Interested_Product_Information</name>
        <label>Update Interested Product Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Lead_Line_Item_No_2.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Interest_Product2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>$Record.Interest_Product2__c</elementReference>
            </value>
        </inputAssignments>
        <object>LeadLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Interested_Product_Information</name>
        <label>Update Interested Product Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Validate_Interest_Product_2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Existing_Lead_Line_Item_No_1.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Interest_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>$Record.Interest_Product__c</elementReference>
            </value>
        </inputAssignments>
        <object>LeadLineItem</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Dummy_Interested_Product</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
