force-app/main/default/flows/AC_Lead_UpdateKubotaApp_when_create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>checkIDandPhone</name>
        <label>checkIDandPhone</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfIDIsMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getKubotaApp.Citizen_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id_Card_No__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateKubotaAppRecord</targetReference>
            </connector>
            <label>IfIDIsMatch</label>
        </rules>
        <rules>
            <name>IfPhoneIsMatch</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>getKubotaApp.Mobile_phone_no_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Mobile_Phone_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getKubotaApp.Phone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Telephone__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getKubotaApp.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.FirstName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getKubotaApp.LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_updateKubotaAppRecord</targetReference>
            </connector>
            <label>IfPhoneIsMatch</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[AC] Lead: UpdateKubotaApp when create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[AC] Lead: UpdateKubotaApp when create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getKubotaApp</name>
        <label>getKubotaApp</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIDandPhone</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kubota App User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Citizen_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id_Card_No__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Telephone__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mobile_Phone_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Mobile_Phone_1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_updateKubotaAppRecord</name>
        <label>updateKubotaAppRecordByPhone</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getKubotaApp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Kubota_App_User__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateKubotaAppRecord</name>
        <label>updateKubotaAppRecord</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getKubotaApp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Kubota_App_User__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getKubotaApp</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Activity_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KBC Contact Center</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id_Card_No__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Mobile_Phone_1__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Telephone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
