force-app/main/default/flows/AC_Lead_UpdateKubotaApp_when_create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>checkIDandCitizenId</name>
        <label>checkIDandCitizenId</label>
        <locationX>281</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>getKubotaAppPhone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfIDIsMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getKubotaAppCitizenId.Citizen_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id_Card_No__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getKubotaAppCitizenId.Citizen_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateKubotaAppRecord</targetReference>
            </connector>
            <label>IfIDIsMatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIDandmobilePhone</name>
        <label>checkIDandmobilePhone</label>
        <locationX>710</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfIDIsMatchMobilePhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getKubotaAppMobilePhone.Mobile_phone_no_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getKubotaAppMobilePhone.Mobile_phone_no_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Mobile_Phone_1__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateKubotaAppRecord3</targetReference>
            </connector>
            <label>IfIDIsMatchMobilePhone</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkIDandPhone</name>
        <label>checkIDandPhone</label>
        <locationX>512</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>getKubotaAppMobilePhone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PhoneMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getKubotaAppPhone.Phone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Telephone__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getKubotaAppPhone.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateKubotaAppRecord2</targetReference>
            </connector>
            <label>PhoneMatch</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[AC] Lead: UpdateKubotaApp when create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[AC] Lead: UpdateKubotaApp when create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getKubotaAppCitizenId</name>
        <label>getKubotaAppCitizenId</label>
        <locationX>281</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIDandCitizenId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kubota App User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Citizen_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id_Card_No__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getKubotaAppMobilePhone</name>
        <label>getKubotaAppMobilePhone</label>
        <locationX>710</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIDandmobilePhone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Mobile_phone_no_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Mobile_Phone_1__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kubota App User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getKubotaAppPhone</name>
        <label>getKubotaAppPhone</label>
        <locationX>512</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkIDandPhone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Telephone__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_Lead__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kubota App User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateKubotaAppRecord</name>
        <label>updateKubotaAppRecord</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getKubotaAppCitizenId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateKubotaAppRecord2</name>
        <label>updateKubotaAppRecord2</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getKubotaAppPhone.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateKubotaAppRecord3</name>
        <label>updateKubotaAppRecord3</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getKubotaAppMobilePhone.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getKubotaAppCitizenId</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Activity_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KBC Contact Center</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id_Card_No__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Mobile_Phone_1__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Telephone__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Kubota App User</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
