force-app/main/default/flows/AC_Order_Schedule_Revise_Order_From_Data_Loader_7pm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Old_Daily_Sales_to_Make_New_Order</name>
        <label>Assign Old Daily Sales to Make New Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Other_Daily_Sales_of_This_DBM_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Dealer_from_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Revise_Order_Data</name>
        <label>Revise Order Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>GetOrder.AD_DISC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AD_DISC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Kubota_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Address_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Address_Srv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address_Srv__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Birth_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Birth_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Building_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Building_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Building_Srv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Building_Srv__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.CPOINT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CPOINT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.CUR_OWNER__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CUR_OWNER__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Chassis_Implement_Serial_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Chassis_Implement_Serial_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Consent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Consent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Customer_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.DBM_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DBM_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.DOWN_PAY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DOWN_PAY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.District_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.District_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.District_Srv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.District_Srv__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sale_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Engine_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Engine_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Floor_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Floor_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Floor_Srv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Floor_Srv__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Grade__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.ID_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ID_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Is_Duplicate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IS_Duplicate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Is_Owner_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Is_Owner_Change__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Is_second_hand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Is_second_hand__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.KIS_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.KIS_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.KIS_Password__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.KIS_Password__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.KIS_Username__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.KIS_Username__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.KubotaId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.KubotaId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.LANDTX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LANDTX__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.MATNR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MATNR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Mobile_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mobile_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Mobile_Srv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Mobile_Srv__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Moo_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Moo_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Moo_Srv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Moo_Srv__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.NET_VALUE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NET_VALUE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Number_of_Welcome_Call_record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Number_of_Welcome_Call_record__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Original_Daily_Sales_SF_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Payment_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Payment_method_code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Payment_method_code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Postcode_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Postcode_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Postcode_Srv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Postcode_Srv__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Product_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Province_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Province_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Province_Srv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Province_Srv__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Remark__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Remark__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Room_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Room_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Room_Srv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Room_Srv__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.SKC_DISC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SKC_DISC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Sales_Organization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Organization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Soi_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Soi_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Soi_Srv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Soi_Srv__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Street_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Street_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Street_Srv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Street_Srv__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Subdistrict_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subdistrict_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Subdistrict_Srv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subdistrict_Srv__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.TOTAL_PAYDISC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TOTAL_PAYDISC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.TOTAL_PRICE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TOTAL_PRICE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Tel_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Tel_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Tel_Srv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Tel_Srv__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Title_code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Title_code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.VTWEG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VTWEG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Village_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Village_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetOrder.Village_Srv__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Village_Srv__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Existing_Order</name>
        <label>Check Existing Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Validate_Product_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Existing_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOrder.DBM_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Daily_Sales_Product_Type</targetReference>
            </connector>
            <label>Found Existing Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Daily_Sales_Product_Type</name>
        <label>Validate Daily Sales Product Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Validate_Existing_Order_Product_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not IMPLEMENT and KIS</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_IMPLEMENT_or_KIS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IMPLEMENT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KIS</stringValue>
                </rightValue>
            </conditions>
            <label>IMPLEMENT or KIS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Existing_Order_Product_Type</name>
        <label>Validate Existing Order Product Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IMPLEMENT_or_KIS_Order</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetOrder.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IMPLEMENT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOrder.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revise_Order_Data</targetReference>
            </connector>
            <label>IMPLEMENT or KIS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Other_Daily_Sales</name>
        <label>Validate Other Daily Sales</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Dealer_from_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Daily_Sales_Not_IMPLEMENT_And_KIS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Other_Daily_Sales_of_This_DBM_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Old_Daily_Sales_to_Make_New_Order</targetReference>
            </connector>
            <label>Found Daily Sales Not IMPLEMENT And KIS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Product_Type</name>
        <label>Validate Product Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Dealer_from_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IMPLEMENT_or_KIS</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IMPLEMENT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Other_Daily_Sales_of_This_DBM_Order</targetReference>
            </connector>
            <label>IMPLEMENT or KIS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Yesterday</name>
        <dataType>Date</dataType>
        <expression>TODAY()-1</expression>
    </formulas>
    <interviewLabel>[AC] Order: Schedule Revise Order From Data Loader (7pm) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[AC] Order: Schedule Revise Order From Data Loader (7pm)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AddOrderData</name>
        <label>AddOrderData</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AD_DISC__c</field>
            <value>
                <elementReference>$Record.AD_DISC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Kubota_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_ID__c</field>
            <value>
                <elementReference>$Record.Address_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Srv__c</field>
            <value>
                <elementReference>$Record.Address_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birth_Date__c</field>
            <value>
                <elementReference>$Record.Birth_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Plant_Code__c</field>
            <value>
                <elementReference>Get_Dealer_from_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Building_ID__c</field>
            <value>
                <elementReference>$Record.Building_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Building_Srv__c</field>
            <value>
                <elementReference>$Record.Building_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPOINT__c</field>
            <value>
                <elementReference>$Record.CPOINT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CUR_OWNER__c</field>
            <value>
                <elementReference>$Record.CUR_OWNER__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chassis_Implement_Serial_Number__c</field>
            <value>
                <elementReference>$Record.Chassis_Implement_Serial_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent__c</field>
            <value>
                <elementReference>$Record.Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_number__c</field>
            <value>
                <elementReference>$Record.Customer_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DBM_Order__c</field>
            <value>
                <elementReference>$Record.DBM_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DOWN_PAY__c</field>
            <value>
                <elementReference>$Record.DOWN_PAY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District_ID__c</field>
            <value>
                <elementReference>$Record.District_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District_Srv__c</field>
            <value>
                <elementReference>$Record.District_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Record.Sale_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engine_Code__c</field>
            <value>
                <elementReference>$Record.Engine_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Floor_ID__c</field>
            <value>
                <elementReference>$Record.Floor_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Floor_Srv__c</field>
            <value>
                <elementReference>$Record.Floor_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grade__c</field>
            <value>
                <elementReference>$Record.Grade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ID_Number__c</field>
            <value>
                <elementReference>$Record.ID_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Duplicate__c</field>
            <value>
                <elementReference>$Record.IS_Duplicate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Owner_Change__c</field>
            <value>
                <elementReference>$Record.Is_Owner_Change__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_second_hand__c</field>
            <value>
                <elementReference>$Record.Is_second_hand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KIS_Number__c</field>
            <value>
                <elementReference>$Record.KIS_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KIS_Password__c</field>
            <value>
                <elementReference>$Record.KIS_Password__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KIS_Username__c</field>
            <value>
                <elementReference>$Record.KIS_Username__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KubotaId__c</field>
            <value>
                <elementReference>$Record.KubotaId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LANDTX__c</field>
            <value>
                <elementReference>$Record.LANDTX__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MATNR__c</field>
            <value>
                <elementReference>$Record.MATNR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_ID__c</field>
            <value>
                <elementReference>$Record.Mobile_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Srv__c</field>
            <value>
                <elementReference>$Record.Mobile_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moo_ID__c</field>
            <value>
                <elementReference>$Record.Moo_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moo_Srv__c</field>
            <value>
                <elementReference>$Record.Moo_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NET_VALUE__c</field>
            <value>
                <elementReference>$Record.NET_VALUE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Welcome_Call_record__c</field>
            <value>
                <elementReference>$Record.Number_of_Welcome_Call_record__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Daily_Sales_SF_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>$Record.Payment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_method_code__c</field>
            <value>
                <elementReference>$Record.Payment_method_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode_ID__c</field>
            <value>
                <elementReference>$Record.Postcode_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode_Srv__c</field>
            <value>
                <elementReference>$Record.Postcode_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>$Record.Product_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>$Record.Product_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_ID__c</field>
            <value>
                <elementReference>$Record.Province_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_Srv__c</field>
            <value>
                <elementReference>$Record.Province_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_Daily_Sales.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remark__c</field>
            <value>
                <elementReference>$Record.Remark__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_ID__c</field>
            <value>
                <elementReference>$Record.Room_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_Srv__c</field>
            <value>
                <elementReference>$Record.Room_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SKC_DISC__c</field>
            <value>
                <elementReference>$Record.SKC_DISC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Organization__c</field>
            <value>
                <elementReference>$Record.Sales_Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Soi_ID__c</field>
            <value>
                <elementReference>$Record.Soi_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Soi_Srv__c</field>
            <value>
                <elementReference>$Record.Soi_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_ID__c</field>
            <value>
                <elementReference>$Record.Street_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_Srv__c</field>
            <value>
                <elementReference>$Record.Street_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subdistrict_ID__c</field>
            <value>
                <elementReference>$Record.Subdistrict_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subdistrict_Srv__c</field>
            <value>
                <elementReference>$Record.Subdistrict_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TOTAL_PAYDISC__c</field>
            <value>
                <elementReference>$Record.TOTAL_PAYDISC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TOTAL_PRICE__c</field>
            <value>
                <elementReference>$Record.TOTAL_PRICE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tel_ID__c</field>
            <value>
                <elementReference>$Record.Tel_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tel_Srv__c</field>
            <value>
                <elementReference>$Record.Tel_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>$Record.Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_code__c</field>
            <value>
                <elementReference>$Record.Title_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VTWEG__c</field>
            <value>
                <elementReference>$Record.VTWEG__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Village_ID__c</field>
            <value>
                <elementReference>$Record.Village_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Village_Srv__c</field>
            <value>
                <elementReference>$Record.Village_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Dealer_from_Account</name>
        <label>Get Dealer from Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_Daily_Sales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Original_Dealer_SF_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Branch_Plant_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Other Daily Sales Not a KIS and IMPLEMENT</description>
        <name>Get_Other_Daily_Sales_of_This_DBM_Order</name>
        <label>Get Other Daily Sales of This DBM Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Other_Daily_Sales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DBM_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DBM_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>IMPLEMENT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>KIS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Daily_Sales_Kads__c</object>
        <sortField>Temp_Order_By_for_Migration__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Daily_Sales</name>
        <label>Get Record Type Daily Sales</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddOrderData</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Daily_Sales</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrder</name>
        <label>GetOrderForCheckDup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Existing_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DBM_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DBM_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>GetOrder</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsCreatedToday__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Daily_Sales_Kads__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-10-29</startDate>
            <startTime>19:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
