force-app/main/default/flows/AC_Order_Schedule_Create_Order_From_Data_Loader_Daily_Sales_Service.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Decision_1</name>
        <label>CheckOrderDup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AddOrderData</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsDuplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOrder.DBM_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>IsDuplicate</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidateDate</name>
        <label>ValidateDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yesterday1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yesterday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOrder</targetReference>
            </connector>
            <label>Yesterday1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Yesterday</name>
        <dataType>Date</dataType>
        <expression>TODAY()-1</expression>
    </formulas>
    <interviewLabel>[AC] Order: Schedule Create Order From Data Loader {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[AC] Order: Schedule Create Order From Data Loader Daily Sales (Service)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AddOrderData</name>
        <label>AddOrderData</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Kubota_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Plant_Code__c</field>
            <value>
                <elementReference>$Record.Branch_Plant_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Building_ID__c</field>
            <value>
                <elementReference>$Record.BUILDING__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Building_Srv__c</field>
            <value>
                <elementReference>$Record.SRV_BUILDING__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPOINT__c</field>
            <value>
                <elementReference>$Record.CPOINT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DBM_Order__c</field>
            <value>
                <elementReference>$Record.DBMVBELN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District_ID__c</field>
            <value>
                <elementReference>$Record.DISTRICT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District_Srv__c</field>
            <value>
                <elementReference>$Record.SRV_DISTRICT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.FNAME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Floor_ID__c</field>
            <value>
                <elementReference>$Record.FLOOR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Floor_Srv__c</field>
            <value>
                <elementReference>$Record.SRV_FLOOR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LANDTX__c</field>
            <value>
                <elementReference>$Record.LANDTX__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.LNAME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_ID__c</field>
            <value>
                <elementReference>$Record.MOBILE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Srv__c</field>
            <value>
                <elementReference>$Record.SRV_MOBILE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moo_ID__c</field>
            <value>
                <elementReference>$Record.MOO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moo_Srv__c</field>
            <value>
                <elementReference>$Record.SRV_MOO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NET_VALUE__c</field>
            <value>
                <elementReference>$Record.NET_VALUE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode_ID__c</field>
            <value>
                <elementReference>$Record.POST_CODE1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode_Srv__c</field>
            <value>
                <elementReference>$Record.SRV_POST_CODE1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_ID__c</field>
            <value>
                <elementReference>$Record.PROVINCE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_Srv__c</field>
            <value>
                <elementReference>$Record.SRV_PROVINCE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_ID__c</field>
            <value>
                <elementReference>$Record.SRV_ROOMNO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_Srv__c</field>
            <value>
                <elementReference>$Record.SRV_ROOMNO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Soi_ID__c</field>
            <value>
                <elementReference>$Record.SOI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Soi_Srv__c</field>
            <value>
                <elementReference>$Record.SRV_SOI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>$Record.SOURCE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_ID__c</field>
            <value>
                <elementReference>$Record.STREET__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_Srv__c</field>
            <value>
                <elementReference>$Record.SRV_STREET__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subdistrict_ID__c</field>
            <value>
                <elementReference>$Record.SUBDIST__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subdistrict_Srv__c</field>
            <value>
                <elementReference>$Record.SRV_SUBDIST__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TOTAL_PRICE__c</field>
            <value>
                <elementReference>$Record.TOTAL_PRICE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tel_Srv__c</field>
            <value>
                <elementReference>$Record.SRV_TEL_NUMBER__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>$Record.TITLE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Village_Srv__c</field>
            <value>
                <elementReference>$Record.VILLAGE__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordLookups>
        <name>GetOrder</name>
        <label>GetOrderForCheckDup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DBM_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DBMVBELN__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ValidateDate</targetReference>
        </connector>
        <object>Daily_Sales_Service__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-07-23</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
