force-app/main/default/flows/AC_OrderProduct_Schedule_Create_OrderProduct_From_Data_Loader_11_45pm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Validate_Existing_Order_Product</name>
        <label>Validate Existing Order Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Found_Order_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Order_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOrderId</targetReference>
            </connector>
            <label>Not Found Order Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Order</name>
        <label>Validate Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_a_Service_Log_Missing_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pricebook_Entry</targetReference>
            </connector>
            <label>Found Order</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Yesterday</name>
        <dataType>Date</dataType>
        <expression>TODAY()-1</expression>
    </formulas>
    <interviewLabel>[AC] OrderProduct: Schedule Create OrderProduct From Data Loader (11:45pm) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[AC] OrderProduct: Schedule Create OrderProduct From Data Loader (11:45pm)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_Service_Log</name>
        <label>Create a Service Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>API_Name__c</field>
            <value>
                <stringValue>[AC] OrderProduct: Schedule Create OrderProduct From Data Loader</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Service_Log_Missing_Order</name>
        <label>Create a Service Log (Missing Order)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>API_Name__c</field>
            <value>
                <stringValue>[AC] OrderProduct: Schedule Create OrderProduct From Data Loader</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <stringValue>Order Not Found</stringValue>
            </value>
        </inputAssignments>
        <object>Service_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateOrderProduct</name>
        <label>CreateOrderProduct</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Create_a_Service_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AD_DISC__c</field>
            <value>
                <elementReference>$Record.AD_DISC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_ID__c</field>
            <value>
                <elementReference>$Record.Address_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Srv__c</field>
            <value>
                <elementReference>$Record.Address_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birth_Date__c</field>
            <value>
                <elementReference>$Record.Birth_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Building_ID__c</field>
            <value>
                <elementReference>$Record.Building_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Building_Srv__c</field>
            <value>
                <elementReference>$Record.Building_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPOINT__c</field>
            <value>
                <elementReference>$Record.CPOINT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CUR_OWNER__c</field>
            <value>
                <elementReference>$Record.CUR_OWNER__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chassis_Implement_Serial_Number__c</field>
            <value>
                <elementReference>$Record.Chassis_Implement_Serial_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent__c</field>
            <value>
                <elementReference>$Record.Consent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_number__c</field>
            <value>
                <elementReference>$Record.Customer_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DBM_Order__c</field>
            <value>
                <elementReference>$Record.DBM_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DOWN_PAY__c</field>
            <value>
                <elementReference>$Record.DOWN_PAY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District_ID__c</field>
            <value>
                <elementReference>$Record.District_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District_Srv__c</field>
            <value>
                <elementReference>$Record.District_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engine_Code__c</field>
            <value>
                <elementReference>$Record.Engine_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Floor_ID__c</field>
            <value>
                <elementReference>$Record.Floor_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Floor_Srv__c</field>
            <value>
                <elementReference>$Record.Floor_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grade__c</field>
            <value>
                <elementReference>$Record.Grade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ID_Number__c</field>
            <value>
                <elementReference>$Record.ID_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Duplicate__c</field>
            <value>
                <elementReference>$Record.IS_Duplicate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Owner_Change__c</field>
            <value>
                <elementReference>$Record.Is_Owner_Change__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_second_hand__c</field>
            <value>
                <elementReference>$Record.Is_second_hand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KIS_Number__c</field>
            <value>
                <elementReference>$Record.KIS_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KIS_Password__c</field>
            <value>
                <elementReference>$Record.KIS_Password__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KIS_Username__c</field>
            <value>
                <elementReference>$Record.KIS_Username__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KubotaId__c</field>
            <value>
                <elementReference>$Record.KubotaId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LANDTX__c</field>
            <value>
                <elementReference>$Record.LANDTX__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MATNR__c</field>
            <value>
                <elementReference>$Record.MATNR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_ID__c</field>
            <value>
                <elementReference>$Record.Mobile_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Srv__c</field>
            <value>
                <elementReference>$Record.Mobile_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moo_ID__c</field>
            <value>
                <elementReference>$Record.Moo_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moo_Srv__c</field>
            <value>
                <elementReference>$Record.Moo_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Welcome_Call_record__c</field>
            <value>
                <elementReference>$Record.Number_of_Welcome_Call_record__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>GetOrderId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Daily_Sales_SF_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment__c</field>
            <value>
                <elementReference>$Record.Payment_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_method_code__c</field>
            <value>
                <elementReference>$Record.Payment_method_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode_ID__c</field>
            <value>
                <elementReference>$Record.Postcode_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode_Srv__c</field>
            <value>
                <elementReference>$Record.Postcode_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Pricebook_Entry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>$Record.Product_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>$Record.Product_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_ID__c</field>
            <value>
                <elementReference>$Record.Province_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_Srv__c</field>
            <value>
                <elementReference>$Record.Province_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remark__c</field>
            <value>
                <elementReference>$Record.Remark__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_ID__c</field>
            <value>
                <elementReference>$Record.Room_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_Srv__c</field>
            <value>
                <elementReference>$Record.Room_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SKC_DISC__c</field>
            <value>
                <elementReference>$Record.SKC_DISC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sale_Date__c</field>
            <value>
                <elementReference>$Record.Sale_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Organization__c</field>
            <value>
                <elementReference>$Record.Sales_Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Soi_ID__c</field>
            <value>
                <elementReference>$Record.Soi_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Soi_Srv__c</field>
            <value>
                <elementReference>$Record.Soi_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_ID__c</field>
            <value>
                <elementReference>$Record.Street_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_Srv__c</field>
            <value>
                <elementReference>$Record.Street_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subdistrict_ID__c</field>
            <value>
                <elementReference>$Record.Subdistrict_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subdistrict_Srv__c</field>
            <value>
                <elementReference>$Record.Subdistrict_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TOTAL_PAYDISC__c</field>
            <value>
                <elementReference>$Record.TOTAL_PAYDISC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TOTAL_PRICE__c</field>
            <value>
                <elementReference>$Record.TOTAL_PRICE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tel_ID__c</field>
            <value>
                <elementReference>$Record.Tel_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tel_Srv__c</field>
            <value>
                <elementReference>$Record.Tel_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>$Record.Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_code__c</field>
            <value>
                <elementReference>$Record.Title_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VTWEG__c</field>
            <value>
                <elementReference>$Record.VTWEG__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Village_ID__c</field>
            <value>
                <elementReference>$Record.Village_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Village_Srv__c</field>
            <value>
                <elementReference>$Record.Village_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Order_Product</name>
        <label>Get Existing Order Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Existing_Order_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Original_Daily_Sales_SF_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Entry</name>
        <label>Get Pricebook Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateOrderProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrderId</name>
        <label>GetOrderId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DBM_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DBM_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Order_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsCreatedToday__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Daily_Sales_Kads__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-10-29</startDate>
            <startTime>23:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
