force-app/main/default/flows/AC_Order_Create_WelcomeCall_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AssignRowCount</name>
        <label>AssignRowCount</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>ASSET_COUNT</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Check_Existing_Asset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Create_Or_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Combine_Harvester</name>
        <label>Combine Harvester</label>
        <locationX>644</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>WC_RECORD_TYPE_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COMBINE_HARVESTER_RECORD_TYPE_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Welcome_Call</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Drone</name>
        <label>Drone</label>
        <locationX>1700</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>WC_RECORD_TYPE_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DRONE_RECORD_TYPE_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Welcome_Call</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mini_Excavator</name>
        <label>Mini Excavator</label>
        <locationX>1172</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>WC_RECORD_TYPE_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MINI_EXCAVATOR_RECORD_TYPE_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Welcome_Call</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rice_Transplanter</name>
        <label>Rice Transplanter</label>
        <locationX>908</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>WC_RECORD_TYPE_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RICE_TRANSPLANTER_RECORD_TYPE_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Welcome_Call</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sugarcane_Hrvester</name>
        <label>Sugarcane Hrvester</label>
        <locationX>1436</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>WC_RECORD_TYPE_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SUGARCANE_HARVESTER_RECORD_TYPE_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Welcome_Call</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tractor</name>
        <label>Tractor</label>
        <locationX>380</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>WC_RECORD_TYPE_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TRACTOR_RECORD_TYPE_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Welcome_Call</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Vegetable_Planter</name>
        <label>Vegetable Planter</label>
        <locationX>1964</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>WC_RECORD_TYPE_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VEGATABLE_PLANT_RECORD_TYPE_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Welcome_Call</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>COMBINE_HARVESTER_RECORD_TYPE_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0122x000000TnR5AAK</stringValue>
        </value>
    </constants>
    <constants>
        <name>COMBINE_HARVESTER_RECORD_TYPE_ID_RESOLVED</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0122x000000UW5EAAW</stringValue>
        </value>
    </constants>
    <constants>
        <name>CRM_CENTER_DOMESTIC_QUEUE_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G2x000000u95uEAA</stringValue>
        </value>
    </constants>
    <constants>
        <name>CRM_CENTER_OVERSEA_QUEUE_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00G2x000000u9fkEAA</stringValue>
        </value>
    </constants>
    <constants>
        <name>DRONE_RECORD_TYPE_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012BV0000004I7EYAU</stringValue>
        </value>
    </constants>
    <constants>
        <name>DRONE_RECORD_TYPE_ID_RESOLVED</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012BV0000004I7FYAU</stringValue>
        </value>
    </constants>
    <constants>
        <name>MINI_EXCAVATOR_RECORD_TYPE_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0122x000000TnRKAA0</stringValue>
        </value>
    </constants>
    <constants>
        <name>MINI_EXCAVATOR_RECORD_TYPE_ID_RESOLVED</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0122x000000UW5OAAW</stringValue>
        </value>
    </constants>
    <constants>
        <name>RICE_TRANSPLANTER_RECORD_TYPE_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0122x000000TnRFAA0</stringValue>
        </value>
    </constants>
    <constants>
        <name>RICE_TRANSPLANTER_RECORD_TYPE_ID_RESOLVED</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0122x000000UW5dAAG</stringValue>
        </value>
    </constants>
    <constants>
        <name>SUGARCANE_HARVESTER_RECORD_TYPE_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0122x000000TnRPAA0</stringValue>
        </value>
    </constants>
    <constants>
        <name>SUGARCANE_HARVESTER_RECORD_TYPE_ID_RESOLVED</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0122x000000UW5iAAG</stringValue>
        </value>
    </constants>
    <constants>
        <name>TRACTOR_RECORD_TYPE_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0122x000000TnR0AAK</stringValue>
        </value>
    </constants>
    <constants>
        <name>TRACTOR_RECORD_TYPE_ID_RESOLVED</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0122x000000UW5nAAG</stringValue>
        </value>
    </constants>
    <constants>
        <name>VEGATABLE_PLANT_RECORD_TYPE_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012BV0000004I7GYAU</stringValue>
        </value>
    </constants>
    <constants>
        <name>VEGATABLE_PLANT_RECORD_TYPE_ID_RESOLVE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012BV0000004I7HYAU</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Action</name>
        <label>Check Action</label>
        <locationX>1843</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>If_DBM_Order_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Update</defaultConnectorLabel>
        <rules>
            <name>Is_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IS_NULL_CREATEDATE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_create_asset</targetReference>
            </connector>
            <label>Is Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Country</name>
        <label>Check Country</label>
        <locationX>710</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Identify_Machine_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IS Domestic</defaultConnectorLabel>
        <rules>
            <name>IsOversea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LANDTX__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LANDTX__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Family</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>IMPLEMENT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Welcome_Call_Oversea_Record_Type</targetReference>
            </connector>
            <label>IS Oversea</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Country_when_update</name>
        <label>Check Country</label>
        <locationX>2756</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_related_welcome_call_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Domestic</defaultConnectorLabel>
        <rules>
            <name>Is_Oversea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LANDTX__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LANDTX__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_welcome_call_list_oversea</targetReference>
            </connector>
            <label>Is Oversea</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_create_asset</name>
        <label>Check create asset</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_new_vehicle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Kubota_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DBM_Order__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>-</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VTWEG__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>02</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Asset</targetReference>
            </connector>
            <label>If new vehicle</label>
        </rules>
        <rules>
            <name>If_used_Vehicle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Kubota_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DBM_Order__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>-</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VTWEG__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>02</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Existing_Asset</targetReference>
            </connector>
            <label>If used Vehicle</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Create_Or_Update</name>
        <label>Check Create Or Update</label>
        <locationX>710</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_count_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ASSET_COUNT</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Asset_2rdHandCar</targetReference>
            </connector>
            <label>If count &gt; 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Identify_Machine_Type</name>
        <label>Identify Machine Type</label>
        <locationX>1304</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Tractor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TRACTOR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tractor</targetReference>
            </connector>
            <label>Is Tractor</label>
        </rules>
        <rules>
            <name>Is_Combine_Harvester</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COMBINE HARVESTER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Combine_Harvester</targetReference>
            </connector>
            <label>Is Combine Harvester</label>
        </rules>
        <rules>
            <name>Is_Rich_Trans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RICE TRANSPLANTER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rice_Transplanter</targetReference>
            </connector>
            <label>Is Rich Transplanter</label>
        </rules>
        <rules>
            <name>Is_Mini_E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MINI EXCAVATOR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mini_Excavator</targetReference>
            </connector>
            <label>Is Mini Excavator</label>
        </rules>
        <rules>
            <name>Is_Sugarcane</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUGARCANE HARVESTER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sugarcane_Hrvester</targetReference>
            </connector>
            <label>Is Sugarcane Harvester</label>
        </rules>
        <rules>
            <name>Is_Drone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DRONE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Drone</targetReference>
            </connector>
            <label>Is Drone</label>
        </rules>
        <rules>
            <name>Is_Vegetable_Planter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VEGETABLE PLANTER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vegetable_Planter</targetReference>
            </connector>
            <label>Is Vegetable Planter</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_DBM_Order_is_changed</name>
        <label>If DBM Order is changed</label>
        <locationX>2976</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DBM_is_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.DBM_Order__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.DBM_Order__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Country_when_update</targetReference>
            </connector>
            <label>DBM is Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ASSET_NAME</name>
        <dataType>String</dataType>
        <expression>{!$Record.Product2.Name} +&quot;  ( SN :&quot;+{!$Record.Chassis_Implement_Serial_Number__c} +&quot; )&quot;</expression>
    </formulas>
    <formulas>
        <name>ASSET_OWNER_NAME</name>
        <dataType>String</dataType>
        <expression>{!$Record.First_Name__c} +&quot; &quot;+{!$Record.Last_Name__c}</expression>
    </formulas>
    <formulas>
        <name>IS_NULL_CREATEDATE</name>
        <dataType>Boolean</dataType>
        <expression>ISNULL($Record__Prior.CreatedDate)</expression>
    </formulas>
    <formulas>
        <name>NUMBER_OF_WELCOME_CALL</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Number_of_Welcome_Call_record__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SHOPNAME</name>
        <dataType>String</dataType>
        <expression>{!$Record.Order.Branch_Plant_Code__r.Name} + &apos; - &apos; + {!$Record.Order.Branch_Plant_Code__r.Plant_Name__c}</expression>
    </formulas>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>[AC] Order: Create WelcomeCall &amp; Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[AC] Order: Create WelcomeCall &amp; Asset</label>
    <loops>
        <name>Loop_wc</name>
        <label>Loop wc</label>
        <locationX>2932</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_related_welcome_call_list</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_wc_status_to_Cancel</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Mark_Duplication_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_wc_oversea</name>
        <label>Loop wc oversea</label>
        <locationX>2580</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_related_welcome_call_list_oversea</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_wc_status_to_Cancel_Oversea</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Mark_Duplication_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Asset</name>
        <label>Create Asset</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Check_Country</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Country</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Kubota_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Srv__c</field>
            <value>
                <elementReference>$Record.Address_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_Owner_Name__c</field>
            <value>
                <elementReference>ASSET_OWNER_NAME</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Building_Srv__c</field>
            <value>
                <elementReference>$Record.Building_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DBM_Order__c</field>
            <value>
                <elementReference>$Record.DBM_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Daily_Sales_Kads__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District_Srv__c</field>
            <value>
                <elementReference>$Record.District_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engine_Code__c</field>
            <value>
                <elementReference>$Record.Engine_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Floor_Srv__c</field>
            <value>
                <elementReference>$Record.Floor_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Used_Vehicle__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LANDTX__c</field>
            <value>
                <elementReference>$Record.LANDTX__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Srv__c</field>
            <value>
                <elementReference>$Record.Mobile_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moo_Srv__c</field>
            <value>
                <elementReference>$Record.Moo_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ASSET_NAME</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode_Srv__c</field>
            <value>
                <elementReference>$Record.Moo_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_Srv__c</field>
            <value>
                <elementReference>$Record.Province_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PurchaseDate</field>
            <value>
                <elementReference>$Record.Sale_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_No_Srv__c</field>
            <value>
                <elementReference>$Record.Room_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerialNumber</field>
            <value>
                <elementReference>$Record.Chassis_Implement_Serial_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shop_Name__c</field>
            <value>
                <elementReference>$Record.Branch_Plant_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Soi_Srv__c</field>
            <value>
                <elementReference>$Record.Soi_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Purchased</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_Srv__c</field>
            <value>
                <elementReference>$Record.Street_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_District_Srv__c</field>
            <value>
                <elementReference>$Record.Subdistrict_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tel_Srv__c</field>
            <value>
                <elementReference>$Record.Tel_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Village_Srv__c</field>
            <value>
                <elementReference>$Record.Village_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Asset</name>
        <label>Create Asset</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Check_Country</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Country</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Kubota_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Srv__c</field>
            <value>
                <elementReference>$Record.Address_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_Owner_Name__c</field>
            <value>
                <elementReference>ASSET_OWNER_NAME</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Building_Srv__c</field>
            <value>
                <elementReference>$Record.Building_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DBM_Order__c</field>
            <value>
                <elementReference>$Record.DBM_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Daily_Sales_Kads__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District_Srv__c</field>
            <value>
                <elementReference>$Record.District_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engine_Code__c</field>
            <value>
                <elementReference>$Record.Engine_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Floor_Srv__c</field>
            <value>
                <elementReference>$Record.Floor_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LANDTX__c</field>
            <value>
                <elementReference>$Record.LANDTX__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Srv__c</field>
            <value>
                <elementReference>$Record.Mobile_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moo_Srv__c</field>
            <value>
                <elementReference>$Record.Moo_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ASSET_NAME</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode_Srv__c</field>
            <value>
                <elementReference>$Record.Moo_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_Srv__c</field>
            <value>
                <elementReference>$Record.Province_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PurchaseDate</field>
            <value>
                <elementReference>$Record.Sale_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_No_Srv__c</field>
            <value>
                <elementReference>$Record.Room_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerialNumber</field>
            <value>
                <elementReference>$Record.Chassis_Implement_Serial_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shop_Name__c</field>
            <value>
                <elementReference>$Record.Branch_Plant_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Soi_Srv__c</field>
            <value>
                <elementReference>$Record.Soi_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Purchased</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_Srv__c</field>
            <value>
                <elementReference>$Record.Street_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_District_Srv__c</field>
            <value>
                <elementReference>$Record.Subdistrict_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tel_Srv__c</field>
            <value>
                <elementReference>$Record.Tel_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Village_Srv__c</field>
            <value>
                <elementReference>$Record.Village_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Welcome_Call</name>
        <label>Create Welcome Call</label>
        <locationX>1304</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Update_Number_of_WC</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_ID__c</field>
            <value>
                <elementReference>$Record.Address_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_SP__c</field>
            <value>
                <elementReference>$Record.Address_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_SRV__c</field>
            <value>
                <elementReference>$Record.Address_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Building_ID__c</field>
            <value>
                <elementReference>$Record.Building_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Building_SP__c</field>
            <value>
                <elementReference>$Record.Building_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Building_SRV__c</field>
            <value>
                <elementReference>$Record.Building_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Car_type__c</field>
            <value>
                <elementReference>$Record.Product_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_notes__c</field>
            <value>
                <stringValue>ติดตามงาน Welcome Call ครั้งที่ 1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_ID__c</field>
            <value>
                <elementReference>$Record.Kubota_Id__r.Country_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_SP__c</field>
            <value>
                <elementReference>$Record.Kubota_Id__r.Country_SP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_SRV__c</field>
            <value>
                <elementReference>$Record.Kubota_Id__r.Country_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>$Record.Kubota_Id__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Daily_Sales_Kads_Order__c</field>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_key__c</field>
            <value>
                <elementReference>$Record.Sale_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_purchase_AD__c</field>
            <value>
                <elementReference>$Record.Sale_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Name_Account__c</field>
            <value>
                <elementReference>$Record.Order.Branch_Plant_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District_ID__c</field>
            <value>
                <elementReference>$Record.District_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District_SP__c</field>
            <value>
                <elementReference>$Record.District_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District_SRV__c</field>
            <value>
                <elementReference>$Record.District_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duedate__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engine_No__c</field>
            <value>
                <elementReference>$Record.Engine_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Floor_ID__c</field>
            <value>
                <elementReference>$Record.Floor_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Floor_SP__c</field>
            <value>
                <elementReference>$Record.Floor_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Floor_SRV__c</field>
            <value>
                <elementReference>$Record.Floor_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LANDTX__c</field>
            <value>
                <elementReference>$Record.LANDTX__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_number_1__c</field>
            <value>
                <elementReference>$Record.Mobile_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_number_2__c</field>
            <value>
                <elementReference>$Record.Mobile_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>$Record.Product2.SKC_Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moo_ID__c</field>
            <value>
                <elementReference>$Record.Moo_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moo_SP__c</field>
            <value>
                <elementReference>$Record.Moo_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moo_SRV__c</field>
            <value>
                <elementReference>$Record.Moo_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name_of_document_recipient_parcel__c</field>
            <value>
                <stringValue>ชื่อลูกค้า</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note_from_ADMS__c</field>
            <value>
                <elementReference>$Record.Remark__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CRM_CENTER_DOMESTIC_QUEUE_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>$Record.Payment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_number_home__c</field>
            <value>
                <elementReference>$Record.Tel_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode_ID__c</field>
            <value>
                <elementReference>$Record.Postcode_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode_SP__c</field>
            <value>
                <elementReference>$Record.Postcode_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode_SRV__c</field>
            <value>
                <elementReference>$Record.Postcode_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Detail__c</field>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Header__c</field>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_ID__c</field>
            <value>
                <elementReference>$Record.Province_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_SP__c</field>
            <value>
                <elementReference>$Record.Province_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_SRV__c</field>
            <value>
                <elementReference>$Record.Province_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>WC_RECORD_TYPE_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_No_ID__c</field>
            <value>
                <elementReference>$Record.Room_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_No_SP__c</field>
            <value>
                <elementReference>$Record.Room_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_No_SRV__c</field>
            <value>
                <elementReference>$Record.Room_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_number__c</field>
            <value>
                <elementReference>$Record.Chassis_Implement_Serial_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Check_Phone_Number__c</field>
            <value>
                <elementReference>$Record.Tel_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shop_Name__c</field>
            <value>
                <elementReference>SHOPNAME</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Soi_ID__c</field>
            <value>
                <elementReference>$Record.Soi_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Soi_SP__c</field>
            <value>
                <elementReference>$Record.Soi_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Soi_SRV__c</field>
            <value>
                <elementReference>$Record.Soi_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store_province__c</field>
            <value>
                <elementReference>$Record.Branch_Plant_Code__r.Store_province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_ID__c</field>
            <value>
                <elementReference>$Record.Street_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_SP__c</field>
            <value>
                <elementReference>$Record.Street_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_SRV__c</field>
            <value>
                <elementReference>$Record.Street_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_District_ID__c</field>
            <value>
                <elementReference>$Record.Subdistrict_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_District_SP__c</field>
            <value>
                <elementReference>$Record.Subdistrict_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_District_SRV__c</field>
            <value>
                <elementReference>$Record.Subdistrict_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VIP_Number__c</field>
            <value>
                <elementReference>$Record.Kubota_Id__r.Kubota_VIP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VIP_Status__c</field>
            <value>
                <stringValue>VIP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Village_ID__c</field>
            <value>
                <elementReference>$Record.Village_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Village_SP__c</field>
            <value>
                <elementReference>$Record.Village_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Village_SRV__c</field>
            <value>
                <elementReference>$Record.Village_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>purchaser__c</field>
            <value>
                <elementReference>$Record.Kubota_Id__c</elementReference>
            </value>
        </inputAssignments>
        <object>WelcomeCall__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Welcome_Call_Oversea</name>
        <label>Create Welcome Call Oversea</label>
        <locationX>116</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Update_Number_of_WC</targetReference>
        </connector>
        <inputAssignments>
            <field>After_Sale_Service_Dealer__c</field>
            <value>
                <elementReference>$Record.Order.Branch_Plant_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate__c</field>
            <value>
                <elementReference>$Record.Birth_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chassis_No__c</field>
            <value>
                <elementReference>$Record.Chassis_Implement_Serial_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>$Record.Kubota_Id__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Daily_Sales_Kads_Order__c</field>
            <value>
                <elementReference>$Record.OrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Purchase__c</field>
            <value>
                <elementReference>$Record.Sale_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Name_Account__c</field>
            <value>
                <elementReference>$Record.Order.Branch_Plant_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District_ID__c</field>
            <value>
                <elementReference>$Record.District_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District_Native_ID__c</field>
            <value>
                <elementReference>$Record.Kubota_Id__r.District_Native__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District_SP__c</field>
            <value>
                <elementReference>$Record.District_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engine_No__c</field>
            <value>
                <elementReference>$Record.Engine_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name_Eng__c</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name_Native__c</field>
            <value>
                <elementReference>$Record.Kubota_Id__r.First_Name_Native__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name_Eng__c</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name_Native__c</field>
            <value>
                <elementReference>$Record.Kubota_Id__r.Last_Name_Native__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_ID__c</field>
            <value>
                <elementReference>$Record.Mobile_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_SRV__c</field>
            <value>
                <elementReference>$Record.Mobile_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>$Record.Product2.SKC_Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CRM_CENTER_OVERSEA_QUEUE_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>$Record.Payment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>$Record.Product2.Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_ID__c</field>
            <value>
                <elementReference>$Record.Province_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_Native_ID__c</field>
            <value>
                <elementReference>$Record.Kubota_Id__r.Province_Native__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_Native_SP__c</field>
            <value>
                <elementReference>$Record.Kubota_Id__r.Province_Native_SP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_SP__c</field>
            <value>
                <elementReference>$Record.Province_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_District_ID__c</field>
            <value>
                <elementReference>$Record.Subdistrict_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_District_Native_ID__c</field>
            <value>
                <elementReference>$Record.Kubota_Id__r.Sub_District_Native__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_District_Native_SP__c</field>
            <value>
                <elementReference>$Record.Subdistrict_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tel_ID__c</field>
            <value>
                <elementReference>$Record.Tel_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Village_ID__c</field>
            <value>
                <elementReference>$Record.Village_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Village_Native_ID__c</field>
            <value>
                <elementReference>$Record.Kubota_Id__r.Village_Native__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Welcome_Call_Type__c</field>
            <value>
                <stringValue>Welcome Call Round 1</stringValue>
            </value>
        </inputAssignments>
        <object>WelcomeCall__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_Existing_Asset</name>
        <label>Check Existing Asset</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRowCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Engine_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Engine_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_welcome_call_list</name>
        <label>Get related welcome call list</label>
        <locationX>2932</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_wc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Daily_Sales_Kads__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WelcomeCall__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_welcome_call_list_oversea</name>
        <label>Get related welcome call list oversea</label>
        <locationX>2580</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_wc_oversea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Daily_Sales_Kads__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Welcomecall_Oversea__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Welcome_Call_Oversea_Record_Type</name>
        <label>Get Welcome Call Oversea Record Type</label>
        <locationX>116</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Welcome_Call_Oversea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WelcomeCall__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WelcomeCall_Oversea</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Mark_Duplication_Record</name>
        <label>Mark Duplication Kads</label>
        <locationX>2756</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Update_Asset</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Duplicate__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>2976</locationX>
        <locationY>1331</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Daily_Sales_Kads__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Engine_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Engine_Code__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Kubota_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Srv__c</field>
            <value>
                <elementReference>$Record.Address_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_Owner_Name__c</field>
            <value>
                <elementReference>ASSET_OWNER_NAME</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Building_Srv__c</field>
            <value>
                <elementReference>$Record.Building_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DBM_Order__c</field>
            <value>
                <elementReference>$Record.DBM_Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District_Srv__c</field>
            <value>
                <elementReference>$Record.District_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Floor_Srv__c</field>
            <value>
                <elementReference>$Record.Floor_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LANDTX__c</field>
            <value>
                <elementReference>$Record.LANDTX__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Srv__c</field>
            <value>
                <elementReference>$Record.Mobile_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moo_Srv__c</field>
            <value>
                <elementReference>$Record.Moo_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode_Srv__c</field>
            <value>
                <elementReference>$Record.Postcode_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_Srv__c</field>
            <value>
                <elementReference>$Record.Province_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PurchaseDate</field>
            <value>
                <elementReference>$Record.Sale_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_No_Srv__c</field>
            <value>
                <elementReference>$Record.Room_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerialNumber</field>
            <value>
                <elementReference>$Record.Chassis_Implement_Serial_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shop_Name__c</field>
            <value>
                <elementReference>$Record.Branch_Plant_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Soi_Srv__c</field>
            <value>
                <elementReference>$Record.Soi_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Purchased</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_Srv__c</field>
            <value>
                <elementReference>$Record.Subdistrict_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_District_Srv__c</field>
            <value>
                <elementReference>$Record.Subdistrict_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tel_Srv__c</field>
            <value>
                <elementReference>$Record.Tel_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Village_Srv__c</field>
            <value>
                <elementReference>$Record.Village_Srv__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset_2rdHandCar</name>
        <label>Update Asset</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Check_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Engine_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Engine_Code__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Kubota_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Used_Vehicle__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Number_of_WC</name>
        <label>Update Number of WC</label>
        <locationX>710</locationX>
        <locationY>1787</locationY>
        <inputAssignments>
            <field>Number_of_Welcome_Call_record__c</field>
            <value>
                <elementReference>NUMBER_OF_WELCOME_CALL</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_wc_status_to_Cancel</name>
        <label>Update wc status to Cancel</label>
        <locationX>3020</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Loop_wc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_wc.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_notes__c</field>
            <value>
                <stringValue>ยกเลิกเนื่องจากมีรายการเข้ามาซํ้าจากระบบ KADS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_status__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>WelcomeCall__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_wc_status_to_Cancel_Oversea</name>
        <label>Update wc status to Cancel</label>
        <locationX>2668</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Loop_wc_oversea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_wc_oversea.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Contacted</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Note__c</field>
            <value>
                <stringValue>Cancel due to duplicate KADS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Status__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>Welcomecall_Oversea__c</object>
    </recordUpdates>
    <start>
        <locationX>1717</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DBM_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Duplicate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <object>OrderItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ASSET_COUNT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>WC_RECORD_TYPE_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
