force-app/main/default/flows/Case_set_default_value_when_created_a_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <description>Migrate to flow to Inactive process builder Case : set default value when created a record</description>
    <environments>Default</environments>
    <interviewLabel>Case : set default value when created a record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case : set default value when created a record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Asset_Detail</name>
        <label>Set Asset Detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Account_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AssetId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset_Dealer_Name_Account__c</field>
            <value>
                <elementReference>$Record.Asset.Shop_Name_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_Owner_Name__c</field>
            <value>
                <elementReference>$Record.Asset.Asset_Owner_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chassis_Implement_Serial_No__c</field>
            <value>
                <elementReference>$Record.Asset.SerialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Daily_Sales_Kads_Order__c</field>
            <value>
                <elementReference>$Record.Asset.Daily_Sales_Kads_Order__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engine_Code__c</field>
            <value>
                <elementReference>$Record.Asset.Engine_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.Asset.Account.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.Asset.Account.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>$Record.Asset.Product2.SKC_Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>$Record.Asset.Product2.Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Record.Asset.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_date__c</field>
            <value>
                <elementReference>$Record.Asset.PurchaseDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Detail</name>
        <label>Update Account Detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Address_Lookup_SP__c</field>
            <value>
                <elementReference>$Record.Account.Address_Lookup_SP__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_Lookup__c</field>
            <value>
                <elementReference>$Record.Account.Address_Lookup_ID__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_SP__c</field>
            <value>
                <elementReference>$Record.Account.Address_SP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>$Record.Account.Address_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Building_SP__c</field>
            <value>
                <elementReference>$Record.Account.Building_SP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Callback_Phone_no__c</field>
            <value>
                <elementReference>$Record.Account.Callback_Phone_no__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_Id__c</field>
            <value>
                <elementReference>$Record.Account.Country_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_SP__c</field>
            <value>
                <elementReference>$Record.Account.Country_SP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District_SP__c</field>
            <value>
                <elementReference>$Record.Account.District_SP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>District__c</field>
            <value>
                <elementReference>$Record.Account.District_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Firstname__c</field>
            <value>
                <elementReference>$Record.Account.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Floor_SP__c</field>
            <value>
                <elementReference>$Record.Account.Floor_SP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Floor__c</field>
            <value>
                <elementReference>$Record.Account.Floor_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Phone__c</field>
            <value>
                <elementReference>$Record.Account.PersonHomePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lastname__c</field>
            <value>
                <elementReference>$Record.Account.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_ID__c</field>
            <value>
                <elementReference>$Record.Account.Mobile_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_SP__c</field>
            <value>
                <elementReference>$Record.Account.Mobile_SP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_phone_no_1__c</field>
            <value>
                <elementReference>$Record.Account.Mobile_phone_no_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_phone_no_2__c</field>
            <value>
                <elementReference>$Record.Account.Mobile_phone_no_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moo_SP__c</field>
            <value>
                <elementReference>$Record.Account.Moo_SP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Moo__c</field>
            <value>
                <elementReference>$Record.Account.Moo_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number_Owner_1__c</field>
            <value>
                <elementReference>$Record.Account.Phone_Number_Owner_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number_Owner_2__c</field>
            <value>
                <elementReference>$Record.Account.Phone_Number_Owner_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number_Owner_3__c</field>
            <value>
                <elementReference>$Record.Account.Phone_Number_Owner_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number_Owner_4__c</field>
            <value>
                <elementReference>$Record.Account.Phone_Number_Owner_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number_Owner_5__c</field>
            <value>
                <elementReference>$Record.Account.Phone_Number_Owner_5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode_SP__c</field>
            <value>
                <elementReference>$Record.Account.Postcode_SP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode__c</field>
            <value>
                <elementReference>$Record.Account.Postcode_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province_SP__c</field>
            <value>
                <elementReference>$Record.Account.Province_SP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Province__c</field>
            <value>
                <elementReference>$Record.Account.Province_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_No_SP__c</field>
            <value>
                <elementReference>$Record.Account.Room_No_SP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Room_No__c</field>
            <value>
                <elementReference>$Record.Account.Room_No_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SKL_Phone_number__c</field>
            <value>
                <elementReference>$Record.Account.SKL_Phone_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Check_Phone_No__c</field>
            <value>
                <elementReference>$Record.Account.Service_Check_Phone_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Soi_SP__c</field>
            <value>
                <elementReference>$Record.Account.Soi_SP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Soi__c</field>
            <value>
                <elementReference>$Record.Account.Soi_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_SP__c</field>
            <value>
                <elementReference>$Record.Account.Street_SP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>$Record.Account.Street_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_District_SP__c</field>
            <value>
                <elementReference>$Record.Account.Sub_District_SP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_District__c</field>
            <value>
                <elementReference>$Record.Account.Sub_District_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tel_ID__c</field>
            <value>
                <elementReference>$Record.Account.Tel_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tel_SP__c</field>
            <value>
                <elementReference>$Record.Account.Tel_SP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Village_SP__c</field>
            <value>
                <elementReference>$Record.Account.Village_SP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Village__c</field>
            <value>
                <elementReference>$Record.Account.Village_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Asset_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
