force-app/main/default/flows/Case_Create_TS_Appointment_and_fill_asset_info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Create_Follow_up_Records</name>
        <label>Create Follow up Records?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Update_Asset_Detail_and_Create_Task</name>
            <conditionLogic>((1 OR 2) AND (3 AND 4)) OR ((1 OR 2) AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TS_ASK_FOR_SERVICE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TS_ASK_FOR_REPAIR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plant_Code_Under_SSC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plant_Code_Under_SSC__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Asset_Detail</targetReference>
            </connector>
            <label>Update Asset Detail and Create Task</label>
        </rules>
        <rules>
            <name>Only_Update_Asset_Detail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AssetId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Asset_Detail2</targetReference>
            </connector>
            <label>Only Update Asset Detail</label>
        </rules>
    </decisions>
    <formulas>
        <name>TaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;สายด่วนบริการ 1747&quot; &amp;TEXT({!$Record.Type})</expression>
    </formulas>
    <interviewLabel>Case : Create TS Appointment and fill asset info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case : Create TS Appointment and fill asset info</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Follow_Up_Task</name>
        <label>Create Follow Up Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Assigned_to_Dealer__c</field>
            <value>
                <elementReference>$Record.Plant_Code_Under_SSC__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Suggestion__c</field>
            <value>
                <elementReference>$Record.phone_suggestion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Progress__c</field>
            <value>
                <stringValue>ดำเนินการ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Status__c</field>
            <value>
                <stringValue>รับงาน</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Account.PersonContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Task_Record_Type</name>
        <label>Get Task Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Follow_Up_Task</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TS Appointment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_Detail</name>
        <label>Update Asset Detail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task_Record_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Asset_Owner_Name__c</field>
            <value>
                <elementReference>$Record.Asset.Asset_Owner_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_dealer_name__c</field>
            <value>
                <elementReference>$Record.Asset.Shop_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chassis_Implement_Serial_No__c</field>
            <value>
                <elementReference>$Record.Asset.SerialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Daily_Sales_Kads__c</field>
            <value>
                <elementReference>$Record.Asset.Daily_Sales_Kads__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engine_Code__c</field>
            <value>
                <elementReference>$Record.Asset.Engine_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.Account.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.Asset.Account.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_TS__c</field>
            <value>
                <elementReference>$Record.Asset.Product2.SKC_Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>$Record.Asset.ProductFamily</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Record.Asset.Product2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_date__c</field>
            <value>
                <elementReference>$Record.Asset.PurchaseDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Asset_Detail2</name>
        <label>Update Asset Detail2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Asset_Owner_Name__c</field>
            <value>
                <elementReference>$Record.Asset.Asset_Owner_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asset_dealer_name__c</field>
            <value>
                <elementReference>$Record.Asset_dealer_name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chassis_Implement_Serial_No__c</field>
            <value>
                <elementReference>$Record.Asset.SerialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Daily_Sales_Kads__c</field>
            <value>
                <elementReference>$Record.Asset.Daily_Sales_Kads__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engine_Code__c</field>
            <value>
                <elementReference>$Record.Asset.Engine_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.Asset.Account.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.Asset.Account.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>$Record.Asset.Product2.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Record.Asset.Product2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_date__c</field>
            <value>
                <elementReference>$Record.Asset.PurchaseDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Follow_up_Records</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
