force-app/main/default/flows/OrderProduct_Schedule_Create_OrderProduct_From_Data_Loader_Daily_Sales_Part.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>Yesterday</name>
        <dataType>Date</dataType>
        <expression>TODAY()-1</expression>
    </formulas>
    <interviewLabel>OrderProduct: Schedule Create OrderProduct From Data Loader Daily Sales (Part) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[AC] OrderProduct: Schedule Create OrderProduct From Data Loader Daily Sales (Part)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateOrderProduct</name>
        <label>CreateOrderProduct</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AUFARTX__c</field>
            <value>
                <elementReference>$Record.AUFARTX__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AUFART__c</field>
            <value>
                <elementReference>$Record.AUFART__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BIRTHDT__c</field>
            <value>
                <elementReference>$Record.BIRTHDT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BUILDING__c</field>
            <value>
                <elementReference>$Record.BUILDING__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Branch_Plant_Code__c</field>
            <value>
                <elementReference>$Record.Branch_Plant_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CCOUP_DISC__c</field>
            <value>
                <elementReference>$Record.CCOUP_DISC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPOINT__c</field>
            <value>
                <elementReference>$Record.CPOINT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CURRENCY__c</field>
            <value>
                <elementReference>$Record.CURRENCY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DBMVBELN__c</field>
            <value>
                <elementReference>$Record.DBMVBELN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DISTRICT__c</field>
            <value>
                <elementReference>$Record.DISTRICT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Daily_Sales_Type__c</field>
            <value>
                <stringValue>Part</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ECOUP_DISC__c</field>
            <value>
                <elementReference>$Record.ECOUP_DISC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FKDAT__c</field>
            <value>
                <elementReference>$Record.FKDAT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FKSTO__c</field>
            <value>
                <elementReference>$Record.FKSTO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FLOOR__c</field>
            <value>
                <elementReference>$Record.FLOOR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.FNAME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HOUSE_NUM1__c</field>
            <value>
                <elementReference>$Record.HOUSE_NUM1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KUNNR__c</field>
            <value>
                <elementReference>$Record.KUNNR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KubotaId__c</field>
            <value>
                <elementReference>$Record.Kubota_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LANDTX__c</field>
            <value>
                <elementReference>$Record.LANDTX__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.LNAME__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MOBILE__c</field>
            <value>
                <elementReference>$Record.MOBILE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MOO__c</field>
            <value>
                <elementReference>$Record.MOO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>GetOrderId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POST_CODE1__c</field>
            <value>
                <elementReference>$Record.POST_CODE1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PROVINCE__c</field>
            <value>
                <elementReference>$Record.PROVINCE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Dummy_Pricebook_Entry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ROOMNO__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RPOINT__c</field>
            <value>
                <elementReference>$Record.RPOINT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SF_Auto_No__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOI__c</field>
            <value>
                <elementReference>$Record.SOI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SRV_BUILDING__c</field>
            <value>
                <elementReference>$Record.SRV_BUILDING__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SRV_DISTRICT__c</field>
            <value>
                <elementReference>$Record.SRV_DISTRICT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SRV_FLOOR__c</field>
            <value>
                <elementReference>$Record.SRV_FLOOR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SRV_HOUSE_NUM1__c</field>
            <value>
                <elementReference>$Record.SRV_HOUSE_NUM1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SRV_MOBILE__c</field>
            <value>
                <elementReference>$Record.SRV_MOBILE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SRV_MOO__c</field>
            <value>
                <elementReference>$Record.SRV_MOO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SRV_POST_CODE1__c</field>
            <value>
                <elementReference>$Record.SRV_POST_CODE1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SRV_PROVINCE__c</field>
            <value>
                <elementReference>$Record.SRV_PROVINCE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SRV_ROOMNO__c</field>
            <value>
                <elementReference>$Record.SRV_ROOMNO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SRV_SOI__c</field>
            <value>
                <elementReference>$Record.SRV_SOI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SRV_STREET__c</field>
            <value>
                <elementReference>$Record.SRV_STREET__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SRV_SUBDIST__c</field>
            <value>
                <elementReference>$Record.SRV_SUBDIST__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SRV_TEL_NUMBER__c</field>
            <value>
                <elementReference>$Record.SRV_TEL_NUMBER__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SRV_VILLAGE__c</field>
            <value>
                <elementReference>$Record.SRV_VILLAGE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STREET__c</field>
            <value>
                <elementReference>$Record.STREET__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SUBDIST__c</field>
            <value>
                <elementReference>$Record.SUBDIST__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>$Record.SOURCE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAXID__c</field>
            <value>
                <elementReference>$Record.TAXID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TEL_NUMBER__c</field>
            <value>
                <elementReference>$Record.TEL_NUMBER__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TITLEX__c</field>
            <value>
                <elementReference>$Record.TITLEX__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TOTAL_DISC__c</field>
            <value>
                <elementReference>$Record.TOTAL_DISC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TOTAL_PRICE__c</field>
            <value>
                <elementReference>$Record.TOTAL_PRICE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>$Record.TITLE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VBELN__c</field>
            <value>
                <elementReference>$Record.VBELN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VILLAGE__c</field>
            <value>
                <elementReference>$Record.VILLAGE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VKORG__c</field>
            <value>
                <elementReference>$Record.VKORG__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Dummy_Pricebook_Entry</name>
        <label>Get Dummy Pricebook Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateOrderProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dummy Interested Product</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrderId</name>
        <label>GetOrderId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Dummy_Pricebook_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DBMVBELN__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DBMVBELN__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOrderId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsCreatedToday__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Kubota_Id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Daily_Sales_Part__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-10-14</startDate>
            <startTime>09:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
